openapi: "3.0.3"

info:
  title: Corsair API
  version: "1.0.0"
  description: |
    Open protocol for machine-readable, cryptographically verifiable compliance attestations.
    Sign tool output as CPOEs (W3C Verifiable Credentials with Ed25519 signatures).
    Verify any CPOE for free — no account required.
  contact:
    name: Corsair
    url: https://grcorsair.com
    email: support@grcorsair.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0

servers:
  - url: https://api.grcorsair.com/v1
    description: Production API

paths:
  /health:
    get:
      operationId: getHealth
      summary: Health check
      description: Returns server health status. Always available, no auth required.
      responses:
        "200":
          description: Server is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  status:
                    type: string
                    enum: [ready, starting]
                  version:
                    type: string
                    example: "1.0.0"

  /sign:
    post:
      operationId: signEvidence
      summary: Sign evidence as a CPOE
      description: |
        Parse compliance evidence, record provenance, and sign as a JWT-VC (W3C Verifiable Credential)
        with Ed25519 signature. Auto-detects evidence format from JSON structure.
        Requires a Bearer token (API key or OIDC token when configured).
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - evidence
              properties:
                evidence:
                  oneOf:
                    - type: object
                      description: Raw JSON evidence object
                    - type: string
                      description: JSON string of evidence
                format:
                  type: string
                  description: Force generic parsing (bypass mapping packs)
                  enum:
                    - generic
                scope:
                  type: string
                  description: Required if evidence.metadata.scope is missing
                  example: "SOC 2 Type II — AWS Production"
                did:
                  type: string
                  description: DID of the issuer (defaults to server DID)
                  example: "did:web:grcorsair.com"
                expiryDays:
                  type: integer
                  description: Days until CPOE expires (default 7)
                  example: 7
                registerScitt:
                  type: boolean
                  description: Register signed CPOE in SCITT log (default: false). Also accepts x-corsair-register-scitt header.
                  default: false
                dryRun:
                  type: boolean
                  description: Preview without signing
                  default: false
                score:
                  type: boolean
                  description: Include 7-dimension evidence quality score
                  default: false
      responses:
        "200":
          description: Evidence signed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignResponse"
        "400":
          description: Invalid evidence format
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Missing or invalid API key or OIDC token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /onboard:
    post:
      operationId: onboardAgent
      summary: Generate onboarding artifacts
      description: |
        Generate machine-actionable onboarding files for publishing:
        - did.json
        - jwks.json
        - trust.txt
        Requires a Bearer token (API key or OIDC token when configured).
      security:
        - BearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OnboardRequest"
      responses:
        "200":
          description: Onboarding artifacts generated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OnboardResponse"
        "400":
          description: Invalid onboarding parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Missing or invalid API key or OIDC token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /verify:
    post:
      operationId: verifyCPOE
      summary: Verify a CPOE
      description: |
        Verify the Ed25519 signature and structure of a CPOE (JWT-VC).
        Always free. No account required. Returns validity, metadata, and trust tier.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - cpoe
              properties:
                cpoe:
                  type: string
                  description: JWT-VC string (base64url-encoded header.payload.signature)
                  example: "eyJhbGciOiJFZERTQSIsInR5cCI6InZjK2p3dCJ9..."
      responses:
        "200":
          description: Verification result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyResponse"
        "400":
          description: Invalid JWT format
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /formats:
    get:
      operationId: getFormats
      summary: List supported evidence formats
      description: Returns all supported evidence formats with detection criteria.
      responses:
        "200":
          description: Supported formats
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        description:
                          type: string

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key or OIDC token for authenticated endpoints (sign, issue, onboard). Verify is always free.

  schemas:
    OnboardRequest:
      type: object
      properties:
        domain:
          type: string
          description: Domain for onboarding (must match server domain)
        did:
          type: string
          description: DID override (must match domain; no path support)
        cpoes:
          type: array
          items:
            type: string
          description: CPOE URLs to list in trust.txt
        scitt:
          type: string
          description: SCITT endpoint override
        catalog:
          type: string
          description: Catalog snapshot URL
        policy:
          type: string
          description: Policy artifact URL
        flagship:
          type: string
          description: FLAGSHIP stream endpoint override
        frameworks:
          type: array
          items:
            type: string
          description: Compliance frameworks in scope
        contact:
          type: string
          description: Compliance contact
        expiryDays:
          type: integer
          description: trust.txt expiry window in days (default: 365)
        includeDefaults:
          type: boolean
          description: Populate default SCITT/FLAGSHIP URLs (default: true)
    OnboardResponse:
      type: object
      properties:
        domain:
          type: string
        did:
          type: string
        urls:
          type: object
          properties:
            didJson:
              type: string
            jwksJson:
              type: string
            trustTxt:
              type: string
        files:
          type: object
          properties:
            didJson:
              type: object
              properties:
                path:
                  type: string
                mediaType:
                  type: string
                content:
                  type: object
            jwksJson:
              type: object
              properties:
                path:
                  type: string
                mediaType:
                  type: string
                content:
                  type: object
            trustTxt:
              type: object
              properties:
                path:
                  type: string
                mediaType:
                  type: string
                content:
                  type: string
                parsed:
                  type: object
                validation:
                  type: object
    SignResponse:
      type: object
      properties:
        ok:
          type: boolean
          example: true
        data:
          type: object
          properties:
            jwt:
              type: string
              description: Signed JWT-VC (CPOE)
            marqueId:
              type: string
              description: Unique CPOE identifier
              example: "marque-a1b2c3d4-e5f6-7890-abcd-ef1234567890"
            scittEntryId:
              type: string
              description: SCITT entry ID when registered
            detectedFormat:
              type: string
              description: Auto-detected evidence format
              example: "generic"
            summary:
              type: object
              properties:
                controlsTested:
                  type: integer
                controlsPassed:
                  type: integer
                controlsFailed:
                  type: integer
                overallScore:
                  type: number
            provenance:
              type: object
              properties:
                source:
                  type: string
                  enum: [self, tool, auditor]
                sourceIdentity:
                  type: string
            warnings:
              type: array
              items:
                type: string

    VerifyResponse:
      type: object
      properties:
        ok:
          type: boolean
        data:
          type: object
          properties:
            valid:
              type: boolean
              description: Whether the CPOE signature is valid
            trustTier:
              type: string
              description: Trust classification
              enum:
                - corsair-verified
                - self-signed-valid
                - unverifiable
                - invalid
            issuer:
              type: string
              description: DID of the issuer
            issuedAt:
              type: string
              format: date-time
            expiresAt:
              type: string
              format: date-time
            subject:
              type: object
              description: CPOE credential subject (summary, provenance, frameworks)

    ErrorResponse:
      type: object
      properties:
        ok:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code:
              type: string
              example: "bad_request"
            message:
              type: string
              example: "Invalid evidence format"
